{

    "installation_id": "nice_n_unique",

    "hypnotoad": {
	
        "listen": ["http://*:3001"],
        
        "proxy": 1
    },

	"mode":"production",
	
	"secret":"changeme",
	
	"enc_key":"changeme",
	
	"session_expiration":"7200",
	
	"secure_cookies":"1",
	
    "log_path":"/var/log/phaidra/PhaidraBagger.log",
    
    "log_level":"debug",
    
    "validate_uwmetadata":"1",
      
    "defaults": {
    
    	"metadata_field_language": "de"
    	        
	},

    "projects": {
        "p1": {
            "account": "username",
            "members": [
	            		{
		            		"username": "username",
		            		"displayname": "chuck",
		            		"role": "manager"
	            		},
	            		{
		            		"username": "username",
		            		"displayname": "steven",
		            		"role": "member"
	            		}
            		],
            "bags": {
                "in": "/var/www/bagger/data/p1/bags/in",
                "out": "/var/www/bagger/data/p1/bags/out"
            },
            "folders": {
                "in": "/var/www/bagger/data/p1/folders/in",                
            },              
            "thumbnails": {
		    	"dir": "/var/www/bagger/public/thumbnails/p1",
		    	"url_path": "thumbnails/p2",
		    	"convert_cmd": "convert",
		    	"thumbnail_medium_cmd": "/var/www/bagger/lib/downsize -s 2048 -t 20",
		    	"thumbnail_small_cmd": "/var/www/bagger/lib/downsize -s 60 -t 20"
		    },
		    "redmine_baseurl": "https://redmine.phaidra.org/redmine/"
            
        },
        "p2": {
            "account": "username",
            "members":  [
	            		{
		            		"username": "username",
		            		"role": "manager"
	            		},
	            		{
		            		"username": "username",
		            		"role": "manager"
	            		}
            		],
            "statuses":  [
	            		{
		            		"label": "New",
		            		"value": "new"
	            		},
	            		{
		            		"label": "Fixed",
		            		"value": "fixed"
	            		}
            		],
            "restricted_operations": ["set_assignee"],
            "bags": {
                "in": "/var/www/bagger/data/p2/bags/in",
                "out": "/var/www/bagger/data/p2/bags/out"
            },            
            "thumbnails": {
		    	"dir": "/var/www/bagger/thumbnails/p2",
		    	"url_path": "thumbnails/p2"
		    	"convert_cmd": "convert",
		    	"thumbnail_medium_cmd": "/var/www/bagger/lib/downsize -s 2048 -t 20",
		    	"thumbnail_small_cmd": "/var/www/bagger/lib/downsize -s 60 -t 20"
		    },
		    "redmine_baseurl": "https://redmine.phaidra.org/redmine/"
        }
    },

    "ingest_instances": {
        "phaidra-instance": {
            "baseurl": "phaidra-instance.univie.ac.at",
            "apibaseurl": "services.phaidra-instance.univie.ac.at/api",
            "metadata_format_version": "1",
            "local_uwmetadata_tree": "1",
            "is_default": "1",
             "directory_user": {	    	        
	        	"username": "username",        
	        	"password": "password"
	    	}   
        },
        "phaidra-instance2": {
            "baseurl": "phaidra-instance2.univie.ac.at",
            "apibaseurl": "services.phaidra-instance2.univie.ac.at/api",
            "metadata_format_version": "1",
            "local_uwmetadata_tree": "1",
            "is_default": "0"
        }
    },         
    
    "mongodb": {
        "host": "host",
        "port": "27017",
        "username": "username",
        "password": "password",
        "database": "database"
    },
        
    "authentication": {    
    	"realm": "Phaidra",    	
    	"token_header": "X-XSRF-TOKEN",
        "token_cookie": "XSRF-TOKEN",    	
    }, 
}
