<div class="modal modal-ingest">
	<div class="modal-dialog modal-ingest-dialog">
		
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><span class="glyphicon glyphicon-asterisk"></span> Create new metadata update job <img class="load-spinner" ng-show="loadingTracker.active()" ng-src="{{baseurl+'/img/ajax-loader.gif'}}"></h4>
			</div>
		
			<div class="modal-body">
				<div class="container-fluid">
					<data-ng-form name="form" novalidate role="form">
						<fieldset data-ng-disabled="form_disabled">
						
							<div class="row">	
								<div class="col-md-12">	
									<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>																						
									<div class="form-group input-group-lg" ng-class="{true: 'has-error'}[form.start_at.$dirty && form.start_at.$invalid]">
										<label class="control-label">Start at:</label>
										<div class="container-fluid start-at-container">
											<div class="row">
												<div class="col-md-6">
											    	<input type="text" name="start_at" id="start_at" class="form-control ingest-date-input" datepicker-popup="dd.MM.yyyy" ng-model="modaldata.start_at" is-open="opened" min-date="minDate" ng-required="true" close-text="Close" />
											    </div>
												<div class="col-md-6">
													<timepicker data-ng-model="modaldata.start_at" show-meridian="false"></timepicker>
												</div>
											</div>
										</div>
									</div>																																								
								</div>							
							</div>
							
							<div class="row">
								<div class="col-md-12">
									<div class="form-group input-group-lg" ng-class="{true: 'has-error'}[form.name.$dirty && form.name.$invalid]">
										<label class="control-label" for="name">Name:</label>
										<input type="text" class="form-control" name="name" id="name" ng-required="1" ng-model="modaldata.name" ng-keyup="hitEnterCreate($event)" required>
									</div>
									<div class="form-group input-group-lg">
										<label class="control-label" for="name">Phaidra instance:</label><span> {{modaldata.ingest_job.ingest_instance}}</span>
									</div>
									<div class="form-group input-group-lg">
										<label class="control-label" for="name">Ingest job:</label><span> {{modaldata.ingest_job.name}} ({{modaldata.ingest_job._id}})</span>
									</div>
								</div>
							</div>
							
						
							<div class="row">	
								<div class="col-md-12">					
									<div class="modal-footer">
										<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
										<button type="button" class="btn btn-primary" ng-click="createUpdateJob()" ng-disabled="(form.$dirty && form.$invalid) || form.$pristine || form_disabled">Save</button>
									</div>
								</div>
							</div>
								
						</fieldset>
					</data-ng-form>					
				</div>
			</div>
		</div>
	</div>
</div>