<div class="form-group row input-datetime" ng-class="{ 'input-datetime-multi': !(child1.repeatable == 0) }">

	<label class="control-label col-sm-2"><span class="grey" ng-show="child.ordered">{{child.data_order}}. </span>{{child.label}}</label>

    <div class="col-sm-10">

    	<div class="input-group" ng-class="{ 'has-error': child.mandatory && !child.ui_value }">

			<input class="form-control" type="text" ng-model="child.ui_value" value="{{child.ui_value}}" ng-required="{{child.mandatory}}" phaidra-help phaidra-help-id="{{child.help_id}}" tooltip-placement="left" tooltip-popup-delay='1500' tooltip-html-unsafe='{{default_helptext}}' />
	    	<!--<input class="form-control" type="text" datepicker-popup="dd MMMM yyyy" ng-model="child.ui_value" value="{{child.ui_value}}" show-weeks="false" is-open="opened" min="minDate" max="'2055-01-01'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="{{child.mandatory}}" placeholder="-- please choose --" phaidra-help phaidra-help-id="{{child.help_id}}" tooltip-placement="left" tooltip-popup-delay='1500' tooltip-html-unsafe='{{default_helptext}}' /> -->

			<div ng-if="!is_attribute" class="input-group-btn">
				<button ng-if="!(child.repeatable == 0)" class="btn btn-default" ng-click="addNewElement(child, parent)"><span class="glyphicon glyphicon-plus"></span></button>
				<button ng-if="!(child.repeatable == 0) && canDelete(child, parent)" class="btn btn-default" ng-click="deleteElement(child, parent)"><span class="glyphicon glyphicon-minus"></span></button>
				<button ng-if="!(child.sequence == 1) && canUpElement(child, parent)" class="btn btn-default" ng-click="upElement(child, parent)"><span class="glyphicon glyphicon-chevron-up"></span></button>
				<button ng-if="!(child.sequence == 1) && canDownElement(child, parent)" class="btn btn-default" ng-click="downElement(child, parent)" ><span class="glyphicon glyphicon-chevron-down"></span></button>
				<button ng-if="child.attributes" data-toggle="collapse" class="btn btn-default" data-target="#attr_collapse_{{collapse_id}}"><span class="glyphicon glyphicon-wrench"></span></button>
			</div>
	   	</div>
		   	
	   	<ul data-ng-if="child.attributes.length" id="attr_collapse_{{collapse_id}}" class="collapse attr-group">
			<li data-ng-repeat="att in child.attributes" data-ng-init="parent1 = child; child1 = att; is_attribute = true" data-ng-include="$('head base').attr('href')+'views/partials/mods/field_renderer.html'"></li>
		</ul>

    </div>
    
</div>
