<div class="settings-classification">
<div class="container">


	<div class="class-panel" data-ng-repeat="item in projectclasses">
		<div class="class-panel-header">{{item.classification.en}}</div>
		<span class="pull-left">
			<strong>{{item.labels.en}}</strong> <small>{{item.upstream_identifier}}</small>
		</span>
		<span class="btn-group pull-right class-panel-buttons">
		  <button class="btn btn-primary" ng-click="removeClassFromConfig($index)"><span class="glyphicon glyphicon-minus-sign"></span> Remove and save</button>
		</span>
		<div class="clearfix"></div>
	</div>

	<tabset>

		<tab>
				<tab-heading>
		   		<span>Browse</span>
		   	</tab-heading>


			<accordion close-others="false" >
				<accordion-group data-ng-repeat="class in class_roots_all" heading="{{class.labels.en}}" data-ng-click="browse_class_opened(class)">

						<ui-select class="classification-select" data-ng-model="level.selected" theme="bootstrap" on-select="update_current_path($item, $model, class, $index)" data-ng-repeat="level in class.current_path">
						  <ui-select-match placeholder="Select or search a classification in the list...">{{level.selected.labels.en}} <small class="text-muted">{{level.selected.upstream_identifier}}</small></ui-select-match>
						  <ui-select-choices repeat="term in level.terms | filter: $select.search">
							<div data-ng-bind-html="term.labels.en | highlight: $select.search"></div>
							<small data-ng-bind-html="term.upstream_identifier | highlight: $select.search" tooltip="Upstream ID"></small>
						  </ui-select-choices>
						</ui-select>

						<div class="panel panel-default" data-ng-if="lastSelectedTaxons[class.uri].uri">
						  <div class="panel-heading">
						    <h3 class="panel-title pull-left">{{lastSelectedTaxons[class.uri].labels.en}}</h3>
						    <span class="btn-group pull-right">
							    <button class="btn btn-success" ng-click="addClassToConfig(lastSelectedTaxons[class.uri].uri)"><span class="glyphicon glyphicon-plus-sign"></span> Add and save</button>
						    </span>
						    <div class="clearfix"></div>
						  </div>
						  <div class="panel-body" data-ng-if="lastSelectedTaxons[class.uri].nonpreferred.length > 0">
						    <dl class="dl-horizontal" >
							  <dt>Non-preferred labels</dt>
							  <dd data-ng-repeat="term in lastSelectedTaxons[class.uri].nonpreferred" >{{term.labels.en}}</dd>
							</dl>
						  </div>
						</div>

				</accordion-group>
			</accordion>


		</tab>

		<tab>
				<tab-heading>
		   		<span>Search</span>
		   	</tab-heading>

		   	<div class="input-group class-search-form settings-class-search">
	          <input type="text" class="form-control" ng-model="class_search.query" placeholder="Search" ng-keyup="hitEnterSearch($event)">
	          <div class="input-group-btn">
	        	<button class="btn btn-default" type="submit" ng-click="search(class_search.query)"><i class="glyphicon glyphicon-search"></i></button>
	          </div>
	        </div>

		   	<accordion close-others="false">
				<accordion-group data-ng-repeat="class in searchclasses">
					<accordion-heading><span class="label label-default pull-right" ng-class="{'label-primary': class.hits > 0}">{{class.hits}}</span> {{class.labels.en}} <small data-ng-if="class.hits > 49" class="text-danger">Too many results, please narrow your query</small></accordion-heading>

					<div class="panel panel-default" data-ng-if="term.uri" data-ng-repeat="term in class.terms">
					  <div class="panel-heading">
					    <h3 class="panel-title pull-left">{{term.labels.en}} <small class="text-muted"><span data-ng-if="term.preferred">Preferred</span><span data-ng-if="term.preferred == 0">Non-preferred</span></small></h3>
					    <span class="btn-group pull-right">
						    <button class="btn btn-success" ng-click="addClassToConfig(term.uri)"><span class="glyphicon glyphicon-plus-sign"></span> Add and save</button>
					    </span>
					    <div class="clearfix"></div>
					  </div>
					</div>

				</accordion-group>
			</accordion>

		</tab>

		<tab>
			<tab-heading>
				<span>Include</span>
			</tab-heading>

			<blockquote>
		  	<small>Check classifications which should be included for browsing and searching on the bag detail page</small>
			</blockquote>

			<div class="class-include-settings">
				<div class="checkbox checkbox-primary" data-ng-repeat="class in class_roots_all" >
					<input type="checkbox" id="class_checkbox{{$index}}" data-ng-model="$parent.settings.project.included_classifications[class.uri]" >
					<label for="class_checkbox{{$index}}">{{class.labels.en}}</label>
				</div>
			</div>
		</tab>

	</tabset>

</div>
</div>
